<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="ini.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<body>

<form id="regForm">
   
    <div class="stepper">
        <span class="step"><span class="judul">Delivery </span></span>
        <span class="step"><span class="judul">Payment </span> </span>
        <span class="step"><span class="judul">Finish</span></span>
      </div>

     <div id="aplikasi">
<div class="asd">
    <p class="title">Summary</p>
   <p> 10 item purchased</p>
   <p> Delivery Estimated <p class="green">{{estimated}}</p> </p>
   <p> Payment Method <p class="green">{{payment}}</p> </p>
    <p >cost of goods {{cost}}</p>
    <p >Dropshipping Fee  {{dropzz}}</p>
    <p class="title">Total : {{total}}</p>
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
</div>
  <!-- One "tab" for each step in the form: -->
  <div class="tab">
    <i class="fas fa-arrow-left ">Back to cart</i>    
    <p class="title">Delivery Details </p>
   <p> <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="xyz@something.com" placeholder="Email" v-model="email" required/>  <input v-on:change="dropshipper" type="checkbox" id="check"></p>
  <p>  <input type="text" pattern="[0-9]+" title="isi dengan angka" minlength="6" maxlength="20" placeholder="Nomor Telpon" v-model="nohp" required/> <input type="text" placeholder="Dropshipper" id="drop" v-model="shipname"disabled/></p>
    <p> <input type="text" placeholder="Delivery Address" maxlength="120" v-model="address"required/> <input type="textarea" placeholder="Drpshipper Number" v-model="shipno" id="drop1" disabled></p>
  </div>
  <div class="tab">
    <button type="button" id="prevBtn" onclick="nextPrev(-1)"><i class="fas fa-arrow-left">Back to Delivery</i> </button>
    <p class="title">Shipment</p>
           <p> <input  v-model="shipment" value="15000" v-on:change="estimated1" name="shiptment" type="radio">Go-send 15000</input></p>
           <p> <input   v-model="shipment" value="9000"  v-on:change="estimated1" name="shiptment" type="radio" >JNE 9000</p>
           <p> <input  v-model="shipment" value="29000"  v-on:change="estimated1" name="shiptment" type="radio" >Personal Courir 29000</p>
            <p class="title">Payment</p>
      <p>  <input v-model="payment" value="e-wallet" name="payment" type="radio">e-wallet</p>
      <p>   <input v-model="payment" value="bank transfer" name="payment" type="radio" >Bank Transfer</p>
      <p>   <input v-model="payment" value="Virtual Account" name="payment" type="radio" >Virtual Accunt</p>
  </div>
  <div class="tab">
      <div class="center">
        <p class="title">Thank You</p>
      <p> Order ID : {{result}}</p>
      <p>You Will Be Delivered {{estimated}}</p>
    <button type="button" id="prevBtn" onclick="nextPrev(-2)"><i class="fas fa-arrow-left">Back to First Page</i> </button>
</div>
</div>
  </div>
</div> 
</form>

<script>
var currentTab = 0;
showTab(currentTab);

function showTab(n) {
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").style.display = "none"}
else if (n == (x.length - 2)) {
    document.getElementById("nextBtn").innerHTML = "Payment"
    document.getElementById("nextBtn").style.display = "inline";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
    document.getElementById("nextBtn").style.display = "inline";
  }
  fixStepIndicator(n)
}

function nextPrev(n) {
  var x = document.getElementsByClassName("tab");
  if (n == 1 && !validateForm()) return false;
  x[currentTab].style.display = "none";
  currentTab = currentTab + n;
  if (currentTab >= x.length) {
    document.getElementById("regForm").submit();
    return false;
  }
  showTab(currentTab);
}
    
            



function validateForm() {
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  for (i = 0; i < y.length; i++) {

      if(i%2 ==0){
        if (y[i].value == "") {
      y[i].className += " invalid";
      valid = false;
    }
      }
      else if(document.getElementById('check').checked){
        if (y[i].value == "") {
      y[i].className += " invalid";
      valid = false;
    }
      }
  }
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; 
}

function fixStepIndicator(n) {
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  x[n].className += " active";
}
</script>
<script type="text/javascript" src="vuejs/vue.js"></script>
<script type="text/javascript" src="vuejs/01.js"></script>
</body>
</html>
