
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  height: 700px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 30%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #ff7300;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 70px;
  background-color: orangered;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: orangered;
}
.title{
    font-size: xx-large;
    color: orangered;
    background-color: white;
    width: 260px;
}
.asd{
    float: right;
    width: 260px;
}
.green{
    color: green;
    font-size: large;
}
.stepper{
    text-align: center;
    margin-top: 40px;
}

.judul{
    margin-left: 30px;
    font-size: larger;
    color: orangered;
}


